@use 'variables' as *;

html{
    font-size: 125%;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.wrapper{
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
}
img{
    max-width: 100%;
    display: block;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
