.gallery {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    gap: 5px;

    li {
        border:1px solid black;
        width: calc(100% / 2 - 3px);
    }

    flex-wrap: wrap;
}