@use 'variables' as *;

.gallery {
    margin-top: 2em;
    margin-bottom:2em;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    
    li {
        width: calc(100% / 2 - 8px);
        text-align: center;
        border: 5px solid #ffffff;
        background-color:#DCE6EC;
        cursor: pointer;
    }
}


